*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.board{
    background-color: #fff;
    height: 115vw;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    padding: .5%;
    justify-content: center;
    align-items: space-between;
    border-radius: 3px;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.boardTable{
    height: 80vw;
    width: 80vw;
    padding: .5%;
    background-color: #e0e0e0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

.gameStats{
    height: 30vw;
    width: 100vw;
    margin-top: 5vw;
    border-radius: 10px;
    background-color: #e0e0e0;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3vw;
}

p{
    font-size: 2vw;
    margin: 0 1.5vw;
    color: grey;
}

span{
    color: forestgreen;
    font-size: 2vw;
}

.clickedSpan{
    color: red;
}

.cell{
    width: 10%;
    height: 10%;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 3px;
}

.cell:hover{
    opacity: .6;
    border: 1px outset #e0e0e0;
}

.cellOnInitialClick{
    width: 10%;
    height: 10%;
    background-color: #387185;
    border: 1px solid black;
    border-radius: 3px;
}

.clickableCell{
    width: 10%;
    height: 10%;
    background-color: #b29b3a;
    border: 1px solid black;
    border-radius: 3px;
}

.recommendedCell {
    width: 10%;
    height: 10%;
    background-color: #b29b3a;
    border: 1px outset #b29b3a;
    border-radius: 3px;
    opacity: .6;
}

.clickableCell:hover{
    width: 10%;
    height: 10%;
    background-color: #b29b3a;
    border: 1px outset #b29b3a;
    border-radius: 3px;
    opacity: .8;
}

.tablet{
    height: 60%;
    width: 14%;
    padding: 2% 0;
    border-radius: 5px;
    background-image: url('./pics/tablet.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
}

.tablet p{
    font-size: 1vw;
    font-weight: bold;
    color: #000;
}

@media only screen and (width: 360px) and (height: 740px) {
    .tablet p{
        font-size: .9vw;
    }
}

@media only screen and (orientation: landscape) {
    .board{
        height: 45vw;
        width: 65vw;
        flex-direction: column;
        padding: 0;
    }

    .boardTable{
        height: 45vw;
        width: 45vw;
    }

    .gameStats{
        height: 45vw;
        width: 20vw;
        border-radius: 0;
        margin-top: 0;
        background-color: #e0e0e0;
        flex-direction: column;
    }

    .stats{
        height: 63%;
        flex-direction: column;
    }

    .tablet {
        height: 37%;
        width: 64%;
        padding-top: 3.5%;
        justify-self: flex-end;
    }

    .tablet p{
        font-size: .9vw;
    }

    h1{
        margin-top: 1.5vw;
        font-size: 2.3vw;
    }

    p{
        margin-top: 1vw;
        font-size: 1.3vw;
    }
    span{
        font-size: 1.5vw;
    }
}

.game-rules-button {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    position: relative;
    z-index: 5;
}

.game-rules-button:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.game-rules-button-open {
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    position: relative;
    z-index: 5;
}

.game-rules-button-open:hover {
    background-color: #e0e0e0;
}

.game-rules {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20vh 15% 5vh 15%;
    color: #fff;
    line-height: 1.5;
    overflow: auto;
    box-sizing: border-box;
}

.game-rules p {
    color: #fff;
}

.game-rules h3 {
    margin: 1vh 0;
}

.game-rules img {
    margin-top: 5vh;
    width: 35%;
}